.signin__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.signin__container h1 {
    text-align: center;
    margin: 2rem 0 3rem;
}

.signin__right form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input {
    padding: 1rem 1.5rem;
    font-family: inherit;
    box-shadow: 0 0 4px rgb(218, 218, 218);
    border-radius: 8px;
    width: 100%;
}

.pass__group {
    position: relative;
}

.eye {
    position: absolute;
    top: 50%;

}

/* .eyefill {
    cursor: pointer;
    right: 1rem;
} */

.btn-s {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(71, 118, 204);
    border-radius: 8px;
    color: white;
    font-family: inherit;
    cursor: pointer;
    transition: var(--transition);
}

.btn-s:hover,
.btn-google:hover {
    opacity: 0.9;
}

.btn-google {
    transition: var(--transition);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8px;
    color: white;
    background-color: rgb(204, 71, 71);
    cursor: pointer;
}

.reg__fpass {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
}

.or {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.or p {
    display: block;
    margin-inline: 1rem;
}

.or:before {
    content: '';
    height: 1px;
    width: 100%;
    text-align: center;
    left: 0;
    border-top: 1px solid grey;
    display: flex;
    /* flex: 1; */

}

.or:after {
    content: '';
    height: 1px;
    width: 100%;
    text-align: center;
    right: 0;
    border-top: 1px solid grey;
    display: flex;
    /* flex: 1; */

}




@media screen and (max-width: 34em) {


    .signin__main {
        grid-template-columns: 1fr;
    }

}